 @tailwind base;
@tailwind components;
@tailwind utilities;
body { margin: 0; font-family: sans-serif; }
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents double scrollbars */
}